<div class="page-header">
  <h1> What is the project about? </h1>
  <p> I want to create an app where customers will create their custom-made basket with the products they choose. 
  		The app has to be able to add prices and calculate a total. There is another important factor to consider, which is space and weight.  </p>








<h4> You can take a look at the <%= link_to "website", "http://www.dulcecacatua.com", class: "btn btn-info btn-default"  %> where I intend to implement the app </4>

</div>